body{
    background: url(https://images.unsplash.com/photo-1590423203582-e7f7968d8807?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: white;
}
#content {
    text-align: center;
    padding-top: 25%;
    color: white;
}
html{
    height: 100%;
}
.button{
    color: white;
}


h1{
    font-weight: 5em;
    font-weight: 700;

}

